<div class="margintop" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="50px" fxLayout="" fxLayoutAlign="center center">


    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Get Chewi</mat-card-title>
            <mat-card-subtitle>Next memeToken revolution</mat-card-subtitle>

            <img mat-card-xl-image src="../../../assets/img/chewi qr.JPG">
        </mat-card-title-group>
        <mat-card-content>
            <p class="letters" fxLayout fxLayoutAlign="center">
                Send ada, receive $chewi and be refunded by 2 adas always.
            </p>
        </mat-card-content>
    </mat-card>

    <div>
        <img class="minichewi" src="../../../assets/img/chewi-img.png">
    </div>
</div>