<div class="margintop animate__animated animate__fadeInUp" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutAlign="center center" [style.margin]="'15px'">
    <ul>
        <li fxLayoutAlign="center">
            <h1 class="nuggets--number star"> general information </h1>
        </li>

        <li class="nuggets--item reveal" [style.margin-left]="'300px'" [style.margin-right]="'300px'" [style.margin-bottom]="'250px'">
            <div class="nuggets--content with-img">
                <h3 class="nuggets--number">get chewi - option 1</h3>
                <p class="nuggets--info">2 Weeks duration -> Airdrops by retweets</p>
            </div>
            <img class="nuggets--img" src="./../../../assets/img/soldier.png">
        </li>

        <li class="nuggets--item reveal" [style.margin-left]="'300px'" [style.margin-right]="'300px'" [style.margin-bottom]="'300px'">
            <div class="nuggets--content with-img">
                <h3 class="nuggets--number">get chewi - option 2</h3>
                <p class="nuggets--info">Buy $CHEWI send it ada to the determined address, For more information, go to <a routerLink="/getChewis">Get CHEWI</a></p>

            </div>
            <img class="nuggets--img" src="./../../../assets/img/bichito.png" alt="Number of the Detention Center cell in which Princess Leia is held">
        </li>

        <li class="nuggets--item reveal" [style.margin-left]="'300px'" [style.margin-right]="'300px'" [style.margin-bottom]="'250px'">
            <div class="nuggets--content with-img">
                <h3 class="nuggets--number">nft biweekly distribution</h3>
                <p class="nuggets--info">Every 2 weeks, Top 20 Holders will earn a exclusive diamond class CHEWI NFT (CHEWI TEAMS Members will be excluded.)</p>
                <p class="nuggets--info">20 aditional Regular CHEWI NFT will be raffle between the rest of the CHEWI holders. The more you own in the wallet, the more probability you'll have to earn it.</p>
            </div>
            <img class="nuggets--img" src="./../../../assets/img/deathStar.png" alt="Number of the Detention Center cell in which Princess Leia is held">
        </li>

        <li class="nuggets--item reveal" [style.margin-left]="'300px'" [style.margin-right]="'300px'" [style.margin-bottom]="'250px'">
            <div class="nuggets--content with-img">
                <h3 class="nuggets--number">Alguna otra idea</h3>
                <p class="nuggets--info">lo que sea</p>
            </div>
            <img class="nuggets--img" src="./../../../assets/img/R2D2.png" alt="Number of the Detention Center cell in which Princess Leia is held">
        </li>



    </ul>
</div>