<div class="container">
    <div class="chewidiv">
        <div class="fade"></div>
        <section class="star-wars">

            <div class="crawl">

                <div class="title">
                    <p>Episode Moon</p>
                    <h1>A Crypto Hope</h1>
                </div>

                <p>It is a period of crypto war. Rebel ghostchain holders (ADA), striking from a hidden base, have won their first victory against the FUD of the evil Galactic Empire. </p>
                <p>During the battle, Rebel spies managed to steal secret weapon to the Empire’s ultimate weapon, the QUATUM STAR, a powerful computer with enough computanional power to destroy an entire network.</p>
                <p>Pursued by the Empire’s sinister agents, the famous dog Chewbawa races home aboard his wallets custodian of the stolen tokens that can save her people and restore freedom to the galaxy…./</p>
                <p>Are you a little chiguagua dreaming about getting bigger and more powerful? Join the resistance and we will fight for the financial freedom. May the force be with you.</p>

            </div>

        </section>
    </div>
</div>