/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "STARWARS";
    src: url('./assets/fuentes/Starjhol.ttf') format('truetype');
}

@font-face {
    font-family: "STARWARS1";
    src: url('./assets/fuentes/Starjedi.ttf') format('truetype');
}

html,
body {
    height: 100%;
    color: #FFDE06;
    font-family: "STARWARS";
}

body {
    margin: 0;
    font-family: "STARWARS";
}

.spacer {
    flex: 1 1 auto;
}

.star {
    font-family: "STARWARS";
}

.star1 {
    font-family: "STARWARS1";
}